/*header*/
body {
    padding: 50px 0;
}
.header {
    height: 85px;
    background-color: #1D7AD9;
    margin-bottom: 20px;
}
.header .content {
    width:400px;
    margin: auto;
}
.header .content img {
    float: left;
    margin-top: 13px;
    margin-left: 40px;
    margin-right: 50px;
}

.header .content h3 {
    line-height: 85px;
    color: #fff;
    font-family: "微软雅黑";
    font-size: 30px;
}

/*form*/
.main {
    width: 460px;
    margin: auto;
}
.main div label {
    font-size: 20px;
    font-family: "微软雅黑";
}

.main #ckb {
    font-size: 15px;
}

.hr_25 {
    height: 25px;
}

/*footer*/

.footer {
	text-align:center; 
	background-color:#D4D4D4; 
	line-height:24px; 
	padding:50px 0;
}
.footer i {
	font-style:normal; 
	margin:0 5px; 
}
.footer a {
	color:#000;
}
.footer a:hover {
	color:#F60;
}

/*index*/

hr .divider {
    margin: 40px 0;
}


#jumbo {
	text-align: center;
}

/*addtext*/

.formarea {
	width: 800px;
	margin: auto;
}
.formarea p {
	margin-top: 40px;
	font-size: 20px;
	text-align: center;
}
